[ubitrack]
components_path = H:\Libraries\UbiTrack-build\bin\ubitrack

[vharcalib]
rootdir: H:\config\vharcalib
datadir: data
srgdir: vharcalib\srgs\win

[vharcalib.vharvisualizer]
dfgfile: vhar_calibration_host_flea2.dfg
#dfgfile: vhar_visualizer_flea2_v1.dfg
camera_width: 1024
camera_height: 768

[vharcalib.gimbalcalib]
recorddir: data\record\05_haptic_workspace_initialize_orientation

[vharcalib.devices.phantom]
joint_length1: 0.13335
joint_length2: 0.13335

# deprecated - will be removed later
[haptic_gimbal_calibration]
rootdir: H:\develop\haptic_gimbal_calibration
calibdir: calibration
recorddir: record
testdatadir: test_data

